<div>
  Empleado:
  <input [(ngModel)]="filtroEmpleado" name="filtroEmpleado" />
</div>
<div class="espacio-sm"></div>
<div>
  Fecha:
  <input [(ngModel)]="filtroFecha" type="date" min="0" name="filtroFecha" />
</div>
<div class="espacio-sm"></div>
<button class="btn btn-info" (click)="filtrarExcepciones()">
  Filtrar resultados
</button>

<div class="espacio"></div>
<div class="d-flex" style="justify-content: space-between">
  <h3>Excepciones de horarios</h3>
  <div>
    <a
      routerLink="nuevaExcepcion"
      class="btn btn-primary"
      style="margin-left: auto"
      >Crear nueva excepcion</a
    >
  </div>
</div>
<div *ngIf="excepciones.length > 0">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Fecha</th>
          <th scope="col">Habilitado</th>
          <th scope="col">Apertura</th>
          <th scope="col">Cierre</th>
          <th scope="col">Empleado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of excepciones">
          <th scope="row">{{ c.idHorarioExcepcion }}</th>
            <td>{{c.fecha}}</td>
            <td>{{c.flagEsHabilitar == "S" ? 'Si' : 'No'}}</td>
            <td>{{c.flagEsHabilitar == "S" ? dividir(c.horaAperturaCadena) : '-'}}</td>
            <td>{{c.flagEsHabilitar == "S" ? dividir(c.horaCierreCadena) : '-'}}</td>
            <td>{{ c.idEmpleado.idPersona }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{ mensaje }}
<div>
  <router-outlet></router-outlet>
</div>
