<div *ngIf="success; else mostrarForm">
    <div class="alert alert-success" role="alert">
        {{mensaje}}
    </div>
    <button class="btn btn-secondary" routerLink="/categorias">Volver</button>
</div>
<div>
    <ng-template #mostrarForm>
        Nombre de la categoría <input  [(ngModel)]="categoria.descripcion"><br>
        <div class="espacio"></div>
        <button  (click)="agregarCategoria()" class="btn btn-primary">Agregar nueva categoría</button>
    </ng-template>
</div>
<div class="espacio"></div>
<div *ngIf="error" class="alert alert-danger" role="alert">
    {{mensaje}}
    Intente más tarde.
</div>

<router-outlet></router-outlet>

    