<div *ngIf="success; else mostrarForm">
    <div class="alert alert-success" role="alert">
        {{mensaje}}
    </div>
    <button class="btn btn-secondary" routerLink="/personas">Volver</button>
</div>
<div>
    <ng-template #mostrarForm>
        <div class="form-group">
            Nombre <input class="form-control" [(ngModel)]="persona.nombre">
        </div>
        <div class="form-group">
            Apellido <input class="form-control" [(ngModel)]="persona.apellido">
        </div>
        <div class="form-group">
            Email <input class="form-control" [(ngModel)]="persona.email">
        </div>
        <div class="form-group">
            Teléfono <input class="form-control" [(ngModel)]="persona.telefono">
        </div>
        <div class="form-group">
            RUC <input class="form-control" [(ngModel)]="persona.ruc">
        </div>
        <div class="form-group">
            Cédula <input class="form-control" [(ngModel)]="persona.cedula">
        </div>
        <div class="d-flex" style="gap: 10px;">
            <div>Tipo Persona</div>
            <div class="form-check">
                <div *ngFor="let option of options">
                    <div class="radio">
                        <input class="form-check-input" type="radio" name="radio" [(ngModel)]="persona.tipoPersona"
                            [value]="option.value" />
                        <label for="radio-{{option.value}}">{{option.value}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            Fecha Nacimiento<input type="date" class="form-control" [(ngModel)]="persona.fechaNacimiento">
        </div>
        <div class="espacio"></div>
        <button  (click)="actualizarPersona()" class="btn btn-primary">Actualizar persona</button>
    </ng-template>
</div>
<div class="espacio"></div>
<div *ngIf="error" class="alert alert-danger" role="alert">
    {{mensaje}}
</div>

<router-outlet></router-outlet>