<div>
  Descripción contiene:
  <input [(ngModel)]="filtroDescripcion" name="filtroDescripcion"> 
</div>
<div class="espacio-sm"></div>
<button class="btn btn-info" (click)="filtrarCategorias()">Filtrar resultados</button>

<div class="espacio"></div>
<div class="d-flex" style="justify-content: space-between;">
  <h3>Categorías
  </h3>
  <div>
    <a routerLink="nuevaCategoria" class="btn btn-primary" style="margin-left: auto;">Crear nueva categoría</a>
  </div>
</div>
<div *ngIf="categorias.length>0">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="column">Id</th>
          <th scope="column">Descripcion</th>
          <th scope="column">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categorias">
          <th scope="row">{{c.idCategoria}}</th>
          <td>{{c.descripcion}}</td>
          <td>
            <div class="d-flex flex-column flex-md-row" style="gap: 10px;">
              <a [routerLink]="['actualizarCategoria', c.idCategoria]" class="btn btn-secondary"> Modificar</a>
              <a [routerLink]="['eliminarCategoria', c.idCategoria]" class="btn btn-danger"> Eliminar</a>
              <a [routerLink]="['/subcategorias/crearSubcategoria', c.idCategoria]" class="btn btn-primary"> Crear subcategoría</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{mensaje}}

<div>
  <router-outlet></router-outlet>
</div>