<div style="width: fit-content; margin-left: auto;">
  <a routerLink="nuevaCategoria" class="btn btn-primary">Crear nueva categoría</a>
</div>
<div class="espacio"></div>
<h3>Categorías</h3>
<div *ngIf="categorias.length>0">
  <table class="table">
    <thead>
      <tr>
        <th scope="column">Id</th>
        <th scope="column">Descripcion</th>
        <th scope="column">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categorias">
        <th scope="row">{{c.idCategoria}}</th>
        <td>{{c.descripcion}}</td>
        <td>
          <div class="d-flex" style="gap: 10px;">
            <a [routerLink]="['actualizarCategoria', c.idCategoria]" class="btn btn-secondary"> Modificar</a>
            <a [routerLink]="['eliminarCategoria', c.idCategoria]" class="btn btn-danger"> Eliminar</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <router-outlet></router-outlet>
</div>