<div class="text-right" style="font-size: smaller">
    Descripción contiene:
    <input [(ngModel)]="filtroDescripcion" name="filtroDescripcion">
    <div class="espacio-sm"></div>
    Categoría padre con ID:
    <input [(ngModel)]="filtroIdCategoria" type="number" min="0" name="filtroIdCategoria">
    <div class="espacio-sm"></div>
    <button class="btn btn-info btn-sm" (click)="filtrarSubcategorias()">Filtrar resultados</button>
</div>

<div class="espacio"></div>
<h3>Subcategorías</h3>
<div *ngIf="subcategorias.length>0">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">ID categoria</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of subcategorias">
                    <th scope="row">{{c.idTipoProducto}}</th>
                    <td>{{c.descripcion}}</td>
                    <td>{{c.idCategoria.idCategoria}}</td>
                    <td>
                        <div class="d-flex flex-column flex-md-row"
                            style="width: fit-content; gap: 5px; display: inline-block;">
                            <a [routerLink]="['actualizarSubcategoria', c.idTipoProducto]" class="btn btn-secondary">
                                Modificar</a>
                            <a [routerLink]="['eliminarSubcategoria', c.idTipoProducto]" class="btn btn-danger">
                                Eliminar</a>
                            <a [routerLink]="['/presentacionProducto/agregarPresentacionProducto', c.idTipoProducto]" class="btn btn-primary">
                                Crear Servicio</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{mensaje}}
<div>
    <router-outlet></router-outlet>
</div>