<div *ngIf="success; else mostrarForm">
    <div class="alert alert-success" role="alert">
        {{mensaje}}
    </div>
    <button class="btn btn-secondary" routerLink="/subcategorias">Volver</button>
</div>
<div>
    <ng-template #mostrarForm>
        <b>Subcategoría a eliminar:</b> {{subcategoria.descripcion}}<br><br>
        <p>¿Desea eliminar la subcategoría?</p>
        <div class="d-flex" style="gap: 10px;">
            <button class="btn btn-danger" (click)="eliminarSubcategoria()">Sí, eliminar esta subcategoría</button>
            <button class="btn btn-secondary" routerLink="/subcategorias">No, volver</button>
        </div>
    </ng-template>
</div>
<div class="espacio"></div>
<div *ngIf="error" class="alert alert-danger" role="alert">
    {{mensaje}}
    Intente más tarde.
</div>

<router-outlet></router-outlet>