<!--
    <div>
        Descripción contiene:
        <input [(ngModel)]="filtroDescripcion" name="filtroDescripcion">
    </div>
    <div class="espacio-sm"></div>
    <button class="btn btn-info" (click)="filtrarCategorias()">Filtrar resultados</button>
    <div class="espacio"></div>
-->

<div class="d-flex" style="justify-content: space-between;">
    <h3>Personas
    </h3>
    <div>
        <a routerLink="agregarPersona" class="btn btn-primary" style="margin-left: auto;">Agregar Persona</a>
    </div>
</div>
<div *ngIf="personas.length>0">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="column">Nombre</th>
                    <th scope="column">Cédula</th>
                    <th scope="column">Fecha nacimiento</th>
                    <th scope="column">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of personas">
                    <th scope="row">{{p.apellido}}, {{p.nombre}}</th>
                    <td>{{p.cedula}}</td>
                    <td>{{p.fechaNacimiento}}</td>
                    <td>
                        <div class="d-flex flex-column flex-md-row" style="gap: 10px;">
                            <a [routerLink]="['actualizarPersona', p.idPersona]" class="btn btn-secondary">
                                Modificar datos</a>
                            <!--
                                <a [routerLink]="['eliminarCategoria', c.idCategoria]" class="btn btn-danger"> Eliminar</a>
                            -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{mensaje}}

<div>
    <router-outlet></router-outlet>
</div>