<div *ngIf="success; else mostrarForm">
    <div class="alert alert-success" role="alert">
        {{mensaje}}
    </div>
    <button class="btn btn-secondary" routerLink="/subcategorias">Volver</button>
</div>
<div class="form-group">
    <ng-template #mostrarForm>
        <b>Subcategoria: </b> {{subcategoria.descripcion}}
        <div class="espacio"></div>
        Nombre del servicio
        <input class="form-control" [(ngModel)]="presentacionProducto.nombre"><br>
        Descripción del servicio
        <input class="form-control" [(ngModel)]="presentacionProducto.descripcion"><br>
        <div class="espacio"></div>
        Código del servicio
        <input class="form-control" [(ngModel)]="presentacionProducto.codigo"><br>
        <button (click)="agregarPresentacionProducto()" class="btn btn-primary">Crear servicio</button>
    </ng-template>
</div>
<div class="espacio"></div>
<div *ngIf="error" class="alert alert-danger" role="alert">
    {{mensaje}}
</div>

<router-outlet></router-outlet>